.chat-page {
    padding: 0 16px;
    &-header {
        display: flex;
        align-items: center;
        height: 44px;
        color: #000;
        font-family: GeologicaRegular;
        font-size: 18px;
        font-weight: 400;
        & > img:nth-child(1) {
            height: 34px;
        }
        & > img:nth-child(2){
            height: 35px;
            margin-right: 6px;
        }
    }
}
